[submodule "frontend"]
	path = frontend
	url = https://github.com/ljosberinn/resources-helper-frontend.git
[submodule "backend"]
	path = backend
	url = https://github.com/ljosberinn/resources-helper-backend.git
