parameters:
    excludes_analyse:
        - %currentWorkingDirectory%/www/public/vendor/*
    autoload_directories:
        - %currentWorkingDirectory%/www/public/dependencies/classes
    autoload_files:
        - %currentWorkingDirectory%/www/public/_boot.php
