.hq-plan-grid {

  &:nth-of-type(even),
  &:nth-of-type(odd) {
    margin-top: -.8rem;
  }

  &:nth-of-type(odd) {
    margin-left: 2px;
  }
}


.hq-plan-cell {
  height: 1.75rem;
  width: 1.75rem;
  cursor: pointer;
  border: 1px dotted;
  border-color: rgba(128, 128, 128, 1);
  border-radius: 214124px;
  flex-grow: unset !important;
  flex-basis: unset !important;
  margin-right: 1px;

  &.mine-2::before {
      background-image: url('https://resources-helper.de/assets/img/sprite.png')
  }

  &.mine-3::before {
      background-image: url('https://resources-helper.de/assets/img/sprite.png')
  }

  &.mine-8::before {
      background-image: url('https://resources-helper.de/assets/img/sprite.png')
  }

  &.mine-10::before {
      background-image: url('https://resources-helper.de/assets/img/sprite.png')
  }

  &.mine-12::before {
      background-image: url('https://resources-helper.de/assets/img/sprite.png')
  }

  &.mine-13::before {
      background-image: url('https://resources-helper.de/assets/img/sprite.png')
  }

  &.mine-14::before {
      background-image: url('https://resources-helper.de/assets/img/sprite.png')
  }

  &.mine-15::before {
      background-image: url('https://resources-helper.de/assets/img/sprite.png')
  }

  &.mine-20::before {
      background-image: url('https://resources-helper.de/assets/img/sprite.png')
  }

  &.mine-26::before {
      background-image: url('https://resources-helper.de/assets/img/sprite.png')
  }

  &.mine-49::before {
      background-image: url('https://resources-helper.de/assets/img/sprite.png')
  }

  &.mine-53::before {
      background-image: url('https://resources-helper.de/assets/img/sprite.png')
  }

  &.mine-81::before {
      background-image: url('https://resources-helper.de/assets/img/sprite.png')
  }

  &.mine-90::before {
      background-image: url('https://resources-helper.de/assets/img/sprite.png')
  }

  &::before {
    content: '';
    position: absolute;
    height: 1.75rem;
    width: 1.75rem;
    border-radius: 214124px;
    margin-top: -.8rem;
    margin-left: -.8rem;
    opacity: var(--opacity);


  }
}